.register-wrapper {
    background-color: #1c1c1c;
    /* color: rgb(205, 156, 255); */
    margin-top: 40px;
    margin-bottom: 40px;
    
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Makes the wrapper fill the entire viewport height */
}

.register-container {
    background-color: #161616;
    border-radius: 12px;
    border: 1px solid #252525;
    padding: 40px 30px;
    width: 100%;
    max-width: 480px;
}

.register-title {
    color: rgb(175, 90, 255);
    font-size: 2.1rem;
    text-align: center; /* Centers the title text horizontally */
    margin: 0; /* Remove auto margin */
    animation: flicker 2s linear infinite;
    text-shadow: 1px 1px 40px #9f44ff;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
    }

    20%, 24%, 55% {
        opacity: 0.5;
    }

    21%, 56% {
        opacity: 0;
    }
}

.reg-t-un {
    border: none;
    height: 2px;
    background-color: #cf90ff;
    color: #cf90ff;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}


.form-group {
    margin: 10px;

}

.form-group label {
    margin-bottom: 0px;
}

.label-reg {
        color: #dadada;
        font-weight: 600;
}

.input-b {
    /* color: rgb(205, 156, 255); */
    color: whitesmoke;
    background-color: rgb(19, 19, 19);
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: none;
    border: 1px solid #2a2a2a;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
    /* transition: rgb(102, 0, 255) 0.3s; */
    max-width: 500px;
}

.input-b::placeholder{
    font-weight: 700;
    font-family: monospace;
    color: rgb(128, 128, 128);
}

.input-b:focus {
    outline: none;
    border: 1px solid #c170ff;
    /* box-shadow: 0 0 14px 2px blueviolet; */
}

/* .register-container .register-form .register-btn {
    display: flex;
    margin-left: 16px;
    justify-content: center;
} */

.register-btn {
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 6px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 8px;
    padding-left: 150px;
    padding-right: 150px;
    /* margin-left: 18px; */
    margin-top: 28px;
    background-color: rgb(149, 45, 246);
    color: white;
    border: none;
    transition: box-shadow 0.3s ease;
}

.register-btn:hover {
    box-shadow: 0 0 14px 4px blueviolet;
    color: white;
    text-shadow: 0 0 6px rgb(255, 255, 31);
}

.register-btn:active {
  /* box-shadow: 0 2px 10px #ffffff; */
  transform: translateY(2px);
}

.login-text {
    color: #888;
    font-size: 1.0rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.lg-lnk {
    /* margin-left: 6px;
    color: rgb(205, 156, 255); */
    transition: 0.3s ease;
    margin-left: 4px;
    color: #888;
    text-decoration: none;
    font-size: 1.0rem;
}

.lg-lnk:hover {
    color: rgb(245, 232, 255);
    text-decoration: underline;
    text-shadow: 0 0 10px rgb(255, 240, 103);
}